body {
  font-family: sans-serif; }

header {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  padding-right: 3%;
  padding-left: 3%;
  height: 10vh; }

.logo {
  display: inline-block; }

.logo__link {
  min-height: 44px;
  min-width: 44px; }

.nav__wrap {
  display: inline-block;
  float: right; }

.nav {
  list-style: none;
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block; }

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #a8a8a8; }

main {
  height: 90vh;
  overflow: hidden; }

.container {
  max-width: 1000px;
  margin: 0 auto; }

.main__video {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  -webkit-transition: opacity 1s ease-out 0.1s;
  -o-transition: opacity 1s ease-out 0.1s;
  transition: opacity 1s ease-out 0.1s; }

.video__container {
  width: 80%;
  max-width: 640px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  clip: rect(0, 0, 100vh, 0);
  /*transition: clip 1s cubic-bezier(0.99, 0.01, 0.45, 0.9) 0s;*/ }

.video__wrap {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  background-color: #cc2a3a; }
  .video__wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    visibility: hidden; }

.main__bg {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  background-image: url("../images/new-york-city-2.jpg");
  background-size: cover;
  background-position: center center;
  height: 90vh;
  width: 100%; }

.main__head {
  color: #fff;
  margin-left: 10%;
  margin-top: 0;
  padding-top: 20%; }

.playBtn__wrap {
  margin-left: 10%; }

.playBtn {
  color: #fff;
  text-decoration: none; }
  .playBtn:hover .playBtn__txt {
    opacity: 1; }

.playBtn__txt {
  opacity: 0.7;
  display: inline-block;
  padding-left: 35px; }

.play__btn {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 1px;
  top: -5px;
  left: 6px; }
  .play__btn:before {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    content: '';
    z-index: 2;
    border-left: 9px solid #f2f2f2;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent; }
  .play__btn:after {
    content: '';
    position: absolute;
    opacity: 0.7;
    border-radius: 100%;
    border: 2px solid #f2f2f2;
    width: 2px;
    height: 2px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: pulse 2.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
    animation: pulse 2.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite; }

@-webkit-keyframes pulse {
  0% {
    width: inherit;
    height: inherit; }
  40% {
    opacity: 0;
    width: 60px;
    height: 60px; }
  100% {
    opacity: 0;
    width: 60px;
    height: 60px; } }

@keyframes pulse {
  0% {
    width: inherit;
    height: inherit; }
  40% {
    opacity: 0;
    width: 60px;
    height: 60px; }
  100% {
    opacity: 0;
    width: 60px;
    height: 60px; } }

.close__btn {
  width: 40px;
  height: 40px;
  color: #cc2a3a;
  opacity: 0.7;
  text-align: center;
  line-height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1%;
  margin-top: 12vh;
  cursor: pointer;
  font-size: 30px;
  border: 2px solid #cc2a3a;
  border-radius: 50%; }
  .close__btn:hover {
    opacity: 1; }

main.play__start .main__video {
  display: block;
  opacity: 1; }

main.play__start .video__container {
  clip: rect(0, 100vh, 100vh, 0); }

main.play__start .video__wrap iframe {
  display: inline-block;
  visibility: visible; }
